<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Krzesimir.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bartek.css")" rel="stylesheet" type="text/css" />
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.black.css").Combined(true).Compress(true)))
    <link href="@Url.Content("~/Content/kendo/2014.1.318/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2014.1.318/kendo.black.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.1.318/kendo.web.min.js")"></script>
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Online Testing Service</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            @(Html.Telerik().Menu()
                    .Name("menu")
                    .Items(menu =>
                    {
                        menu.Add().Text("Tests").Action("Index", "Tests");
                        menu.Add().Text("Questions").Action("Index", "Questions");
                        menu.Add().Text("Test templates").Action("Index", "TestTemplates");
                        menu.Add().Text("Candidates").Action("Index", "Candidates");
                        menu.Add().Text("Schedule").Action("Index", "Schedule");
                        if (HttpContext.Current.User.IsInRole(OnlineTestingService.Models.User.CANDIDATE))
                            menu.Add().Text("Profile").Action("Index", "Profile");
                        menu.Add().Text("Users and settings").Action("Index", "Admin").HtmlAttributes(new { style = "float:right;" });
                    }))
            
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @*@(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))*@
    @Html.Telerik().ScriptRegistrar()
    </body>
</html>
